/**
 * WC Carta Docente - Admin CSS
 */

#wccd-admin-menu {
	margin: 1rem 0 2rem;
}

.cert-loaded {
	padding: 0.3rem 4rem;
	display: inline-block;
	color: #fff;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	background-color: #5BB75B;
	background-image: linear-gradient(to bottom, #62C462, #51A351);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.cert-loaded.error {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	background-color: #ff0000;
	background-image: linear-gradient(to bottom, #ff0000, #cc0000);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.button.delete-certificate {
	margin-left: 0.5rem;
}

.button.delete-certificate:hover {
	background: #d9534f;
	border: 1px solid #d9534f;
	color: #fff;
}

ul.categories-container {
	margin: 0;
}

.wccd-field {
	width: 200px;
	margin-right: 0.5rem;
}

.add-cat-container,
.remove-cat-container {
	display: inline;
	position: relative;
	top: 0.3rem;
	cursor: pointer;
}

.add-cat-hover,
.remove-cat-hover {
	display: none;
}

.add-cat-container:hover .add-cat,
.remove-cat-container:hover .remove-cat {
	display: none;
}

.add-cat-container:hover .add-cat-hover,
.remove-cat-container:hover .remove-cat-hover {
	display: inline;
}

.wccd-form, .wccd-table {
	margin-top: 2rem;
}

.one-of {
	padding-bottom: 3rem;
	border-bottom: 1px solid #ccc;
}

.wccd-button {
	margin-top: 1rem !important;
}

.wccd-admin {
	display: none;
}

span.wccd-alert {
	display: block;
	margin: 1rem 0 0;
	padding: 0.6rem;
	background: #F2DEDE;
	border-radius: 0.2rem;
	color: #a94442;	
}

span.wccd-alert a {
	color: #a94442;	
	text-decoration: underline;
}