/**
 * ilGhera Carta Docente for WC - CSS
 * @author ilGhera
 * @package wc-carta-docente/css
 * @version 0.9.4
 */

input#wc-codice-docente {
	display: block;
	margin-top: 0.5rem;
	width: 100%;
}

label[for="wc-codice-docente"] {
	text-transform: uppercase;
	display: block;
}
