[submodule "plugin-update-checker"]
	path = plugin-update-checker
	url = https://github.com/YahnisElsts/plugin-update-checker.git
[submodule "includes/ilghera-notice"]
	path = includes/ilghera-notice
	url = git clone git@bitbucket.org:ilghera-wp-plugins/ilghera-notice.git 
